<ion-header>
  <ion-toolbar>
    <ion-title>Saved Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saved Files</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let file of fileList" (click)="presentActionSheet(file)">
          <ion-label>{{ file }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button expand="full" color="primary" [routerLink]="'/home'">
        <ion-icon slot="start" name="arrow-back-circle"></ion-icon>
        Back to Home
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
