<ion-header>
  <ion-toolbar>
    <ion-title>Saved Files</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/file-manager'">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saved Files</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let file of fileList" (click)="presentActionSheet(file)">
          <ion-label>{{ file }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>